<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="container">
        <h1>Weather App</h1>
        
        <form action="/search" method="get">    
            <button>Search Cities</button>
        </form>
    
        <form action="/recent" method="get">
            <button>Recent Cities</button>
        </form>
    
        <hr>
    </div>
    
</body>
</html>
